*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

:root{
    --primary: #EB1CCC;
    --secondary: #95989a;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
}
body{
    padding-bottom: 500px;
}
/*Isso vai centralizar o conteudo*/

/*Event form*/
#event-description{
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../img/hrz-5.jpg");
    /*Escurecer o fundo */
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

#disclaimer h2,
#disclaimer .event-date{
    color: var(--primary);
}

#disclaimer h2{
    font-size: 3em;
    margin-bottom: 1em;
}

#disclaimer .about-event{
    font-size: 2em;
    text-transform: uppercase;
    max-width: 350px;/*Isso serve para quebrar a linha*/
    font-weight: bold;
    margin-bottom: 1em;
}

#disclaimer p{
    font-size: 1.2em;
    margin-bottom: 0.3em;
}

#disclaimer .event-date{
    font-weight: bold;
}

/*formulario*/
#subscription-form{
    background-color: var(--secondary);
    padding: 1em;
    margin: 5px 0px;
    max-width: 22%;
    height: 500px;
}

#subscription-form p{
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--text-secondary);
    margin-bottom: 1em;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
}

.form-group label{
    color: var(--text-tertiary);
    margin-bottom: 0.3em;
    font-weight: bold;
}

.form-group input,
.form-group select{
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    outline: none;/*para não ficar selecionado o campo do input so dentro*/
}
    
.btn{
    background-color: var(--primary);
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    border: none;
    margin: 6px 0px;
    padding: 10px;
    cursor: pointer;
    opacity: 0.8;
}

.btn:hover{
    opacity: 1;
}

/*benefits section*/
.key-benefits{
    background-color: var(--secondary);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 2em;
    font-weight: 500;
}

#key-benefits{
    display: flex;
}

.benefits{
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 80%;
    margin: 0 auto;
}

.benefits{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--text-tertiary);
}  

.benefit .benefit-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}

#benefit-1{
    background-image: url("../img/sqr-1.jpg");
}
#benefit-2{
    background-image: url("../img/sqr-2.jpg");
}
#benefit-3{
    background-image: url("../img/sqr-3.jpg");
}
